body{
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
}
.banner_img{
    background-image: url("../images/Assets/Hero-bg.png");
}
.nav_bar{
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}
.logo{
    color: #4E47FF;
    font-weight: 900;
}
.btn_primari{
    background-color: #4E47FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
}
.btn_primari:hover{
    background-color: aqua;
    color: black;
}

.banner_section{
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 70px;

}
.text_center{
    text-align: center;
    font-size: 40px;
}
.parent{
    text-align: center;
}

.first_parent{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;

}
.title{
    font-size: 30px;
    font-weight: 800;
}
.parent_img{
    height: 300px;
    border-radius: 20px;
}

.secound_section{
    max-width: 1060px;
    margin: 0 auto;
   background-color: rgba(78, 71, 255, 0.3);
    border-radius: 12px;

}

.main_div{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.same_size{
    color: #4E47FF;
    font-size: 50px;
}
.padding{
    padding-top: 20px;
}
.secound_section{
    margin-top: 70px;
}
.third_section{
    margin-top: 70px;
}
.flex{
    display: flex;
    align-items: center;
    gap: 10px;
}
.children {
  background-color: #ffffff;      
  padding: 20px;                  
  border-radius: 10px;             
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
